.word-prompt {
    font-size: 4em;
    font-family: Arial;
    text-transform: capitalize;
    text-align: center;
    padding: 40px 20px;
}

.image-prompt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-prompt img {
    max-height: 400px;
}

.style1 { background-color: lightblue; color: white; }
.style2 { background-color: darkolivegreen; color: white; }
.style3 { background-color: lightgoldenrodyellow; color: black; }
.style4 { background-color: black; color: gainsboro; }

.challenge {
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    height: 100%
}

.explanation {
    font-style: italic;
}

.wizard-header {
    font-size: 1.5em;
}

.result {
    white-space: pre;
}