.word-prompt {
    font-size: 7em;
    font-family: Arial;
    text-transform: capitalize;
    text-align: center;
    padding: 40px 20px;
}

.image-prompt {
    padding: 0;
}

.image-prompt img {
    width: 100%;
}

.style1 { background-color: lightblue; color: white; }
.style2 { background-color: darkolivegreen; color: white; }
.style3 { background-color: lightgoldenrodyellow; color: black; }
.style4 { background-color: gainsboro; color: black; }

.challenge {
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    height: 100%
}

.explanation {
    font-style: italic;
}

.wizard-header {
    font-size: 1.5em;
}

.result {
    white-space: pre;
}