<div class="form-group">
        
  
        <div class="word-prompt">{{word}}</div>
        <p>Think about this word, in order to answer your challenge:</p>
    

    <!--
        <img src="@Model.Image" class="image-prompt" />
        <p>Think about this image, in order to answer your challenge:</p>
    -->
    
    <p class="challenge">{{challenge}}</p>
    <textarea class="form-control" rows="6" [(ngModel)]="ideas"></textarea>
    <br />

    <a class="btn btn-primary" (click)="submit()">Continue &gt;</a>
    <a class="btn btn-default" (click)="finish()">Finish now</a>
</div>
