<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="col-md-4">
        <div class="challenge card style2">
            <p>{{challenge}}</p>
        </div>
    </div>
    <div class="col-md-8">
        <div *ngIf="showWordPrompt()" class="word-prompt card style1">{{word}}</div>
        <div *ngIf="showImagePrompt()" class="image-prompt card style4"><img src="{{imageUrl}}" class="img-fluid" /></div>
    </div>
</div>

<div class="row" style="margin: 10px 0px;">
    <div class="md-col-12">
        <p>Think about this {{showWordPrompt() ? "word":"image"}}, and your challenge. Write down your ideas.</p>
    </div>
</div>

<div class="form-group">
    <label>Ideas</label>
    <textarea class="form-control" rows="8" [(ngModel)]="ideas"></textarea>
    <br />
    Step {{step}} of 4
    <a class="btn btn-primary btn-lg" (click)="submit()">Continue &gt;</a>
    <a class="btn btn-default btn-lg" (click)="finish()">Finish now</a>
</div>