
<div class="row">
    <div class="col-md-12">
        <h2>IdeaHelper</h2>
        <p>The IdeaHelper is a simple tool, that helps you to come up with ideas. It works like this: </p>
        <ol>
            <li>First you describe your challenge in a concrete way</li>
            <li>Then you are prompted several times with different words and images, and asked to think about how these helps you come up with solutions to your challenge</li>
            <li>Finally, you get the full list of all the ideas you came up with</li>
        </ol>
    </div>
    <div class="col-md-12 text-center">
        <a class="btn btn-primary" href="#" role="button" routerLink="/wizard">Start &gt;</a>
    </div>
    <div class="col-md-12">
        <a [routerLink]="['/help']">I need a more detailed explanation.</a>
    </div>
</div>

